<div class="container">
  <h1 class="page-header">
    Users
    <a class="btn btn-success pull-right" href="#/users/new">
      New user
    </a>
  </h1>
  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Name</th>
        <th class="text-center">Username</th>
        <th class="text-center">Email</th>
        <th class="text-center">Member since</th>
        <th class="text-center">Last update</th>
        <th class="text-center">#</th>
        <th class="text-center">#</th>
      </tr>
    </thead>

    <tbody>
      <tr data-ng-repeat="model in collection">
        <td>
          {{ model.id }}
          <div class="modal fade" id="modal-{{ $index }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title">Are you ABSOLUTELY sure?</h4>
                </div>
                <div class="modal-body">
                  <p>This action <b>CANNOT</b> be undone. This will permanently delete the user <b>{{ model.username }}</b>.</p>
                  <p>Please type in the username of the user to confirm.</p>
                  <p class="form-group">
                    <input class="form-control" type="text" required data-ng-model="username">
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger btn-block" data-ng-click="deleteUser($index,model.id)" data-ng-disabled="model.username != username">
                    Yes, delete this record
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>{{ model.first_name }} {{ model.last_name }}</td>
        <td>{{ model.username }}</td>
        <td>{{ model.email }}</td>
        <td>{{ model.created_at }}</td>
        <td>{{ model.updated_at }}</td>
        <td class="text-center">
          <a data-ng-href="#/users/{{ model.username }}/edit">
            <i class="glyphicon glyphicon-edit"></i> 
          </a>
        </td>
        <td class="text-center">
          <a data-toggle="modal" data-target="#modal-{{ $index }}">
            <i class="glyphicon glyphicon-trash"></i> 
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
